#background {
	background-color: #ecf1f9;
}

#menu {
	width: 200px;
	height: 400px;
	font-size: 12px;
	color: #000;
	/*background-color: red;*/
}

#menu ul {
	text-align: center;
	list-style-type: none;
}

.menu-img {
	margin: auto;
	width: 182px;
	height: 5px;
	margin-bottom: 6px;
}

.menu-li {
	background-image: url(../img/admin/menu_bg1.gif);
	margin: auto;
	width: 182px;
	height: 26px;
	line-height: 26px;
}

.menu-top {
	margin-top: 20px;
}

.menu-li:hover {
	background-image: url(../img/admin/menu_bg2.gif);
	margin: auto;
}

a:hover {
	color: blue;
}
