* {
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
	color: gray;
}

a:hover {
	color: red;
}

#main {
	width: 1440px;
}

#top {
	width: 1440px;
	height: 41px;
	background-image: url(../img/admin/login-top-bg.gif);
}

#center {
	width: 1440px;
	/*height: 532px;*/
	background-color: aquamarine;
}

#center-left {
	width: 720px;
	height: 532px;
	background-image: url(../img/admin/login-content-bg.gif);
	background-size: cover;
	float: left;
}

#left {
	width: 500px;
	/*height: 300px;*/
	margin: 150px 150px;
}

#left img {
	margin-left: 100px;
}

#left p {
	font-size: 12px;
	padding-left: 5px;
	margin-left: 40px;
	color: gray;
}

.left-p1 {
	margin-top: 50px;
}

#left span {
	margin-left: 5px;
}

#left-bottom {
	width: 500px;
	height: 20px;
	margin-top: 100px;
}

#left-bottom p {
	display: inline-block;
	font-size: 20px;
}

#left-bottom .p2 {
	margin-left: -60px;
}

#left-bottom .p3 {
	margin-left: 100px;
}

/*中间右边*/
#center-right {
	width: 720px;
	height: 532px;
	background-image: url(../img/admin/login-content-bg.gif);
	background-size: cover;
	float: left;
}

#right {
	width: 500px;
	margin: 150px 100px;
}

#right h4 {
	text-align: center;
}

#right form{
	margin: 50px 125px;
}

#right p {
	margin-top: 20px;
}

.p4 {
	margin-left: 50px;
}

.p5 input{
	width: 100px;
	height: 25px;
}

.margin-left-30 {
	margin-left: 40px;
	margin-top: 30px;
}

/*底部*/
#center-bottom {
	width: 1440px;
	height: 52px;
	background-image: url(../img/admin/buttom-copy-bg.gif);
	background-size: 100% 100%;
	margin-top: 500px;
	clear: both;
}

#bottom-1 {
	width: 1440px;
	height: 211px;
	background-color: #1D3647;
	clear: left;
}

#bottom-1 p {
	text-align: center;
	color: gray;
}
